# DataScience Tools and Ecosystem

### In this notebook, DataScience Tools and Ecosystem are summarized

__Objectives__

* Popular languages in ds
* commonly used libraries in ds
* list the Open source Tools used in ds
* Evaluating Arithmetic expressions in Python

#### Some of the popular languages that data Scientists use are:

1. Python
2. R
3. Julia
4. scala
5. SQL

#### Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. NumPy
3. keras
4. NLTK
5. Scikitlearn

DataScience Tools |
------------------|
Apache Spark |
Hadoop |
TensorFlow |

### Below are the few example of evaluating artimetic expression in Python

In [14]:
# this is a simple expression to multiply and add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hour 
200/60

3.3333333333333335

## Author
Nagul Pandian C R